@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

h2{
    font-family: "Instrument Serif", serif;
    font-size: 32px;

}

h3{
    font-family: "Instrument Serif", serif;
    font-size: 20px;
    text-align: right;
}

h4{
    /*font-family: "Instrument Serif", serif;*/
    font-size: 16px;
}

body {
    font-family: 'Courier New', monospace;
    font-size: 16px;
    line-height: 29px;
    margin: 0px;
}

/*
#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
*/

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#descripcio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/*
#membres {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
*/
 #contacte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#logoe3000 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    /*margin-top: 200px;*/
}

#membres {
    margin: 2em 0em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
    min-height: 100vh;
}

#estatuts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

#estatuts h3 {
    margin-top: 5em;
    font-size: 24px;
}

#estatuts h4 {
    font-size: 20px;
    margin-top: 2em;
    font-family: "Instrument Serif", serif;
    margin-bottom: 0px;
}

#estatuts q {
    margin-top: 20px;
}










@media (min-width: 768px) {
    .container {
        margin: 30px 200px;
    }
}

@media (max-width: 767px) {
    .container {
        margin: 30px 20px;
    }
}

.language-links {
    position: fixed;
    display: flex;
    gap: 10px;
    top: 10px;
    right: 20px;
    font-weight: bold;
}

.menu-links {
    position: fixed;
    display: flex;
    gap: 10px;
    bottom: 10px;
    right: 20px;
    font-weight: bold;
    flex-direction: column;
    text-align: right;
    transition: max-height 0.5s ease;
    /* Animación para abrir y cerrar */
}

a {
    text-decoration: none;
}

a.link-con-href {
    color: dimgray;
}

a.link-con-href:hover {
    color: blue;
    font-weight: bold;
}

/*https://es.wikipedia.org/wiki/Colores_web*/